# MongoDB Configuration
# Replace with your actual MongoDB connection string
MONGODB_URI='mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=YourAppName'

# MongoDB Database Name
# Replace with your actual database name
MONGODB_DB_NAME='YourDatabaseName'
